.box{
    border: solid;
    border-width: 5px;
    padding:5px;
}
body{
    background-image: url("http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/857/full/tileable-classic-nebula-space-patterns-7.jpg");
    color:white;
}